In [2]:
import pandas as pd
dates = ["2023-01-01","2023-01-03","2023-01-04","2023-01-05","2023-01-05"]
data = {'Date':pd.to_datetime(dates),'Value':[10,15,8,12,20]}
df = pd.DataFrame(data)
df

        Date  Value
0 2023-01-01     10
1 2023-01-03     15
2 2023-01-04      8
3 2023-01-05     12
4 2023-01-05     20

### Code Description

This code snippet demonstrates the creation of a pandas DataFrame with 'Date' and 'Value' columns. The 'Date' column contains a list of dates in the format 'YYYY-MM-DD', converted to the pandas datetime format using pd.to_datetime(). The 'Value' column contains corresponding numerical values.

The code showcases how to use pandas to create a DataFrame and populate it with data. It provides an example of how to organize and manipulate time series data using pandas.

In [4]:
import pandas as pd
date ='2023-01-01'
date = pd.to_datetime(date)
print(date)

2023-01-01 00:00:00

This code snippet showcases how to convert a string representing a date in the format 'YYYY-MM-DD' to the pandas datetime format using pd.to_datetime(). The pd.to_datetime() function is a convenient method provided by the pandas library to parse and convert date strings to datetime objects.

The code assigns the date string '2023-01-01' to the variable date. It then uses pd.to_datetime() to convert the string to a pandas datetime object. Finally, the code prints the resulting datetime object.

In [8]:
import pandas as pd
date = '2023-01-01'
date = pd.to_datetime(date)
print(date.year)
print(date.month)
print(date.day)
print(date.hour)
print(date.minute)
print(date.second)

2023
1
1
0
0
0

This code snippet showcases how to extract different components from a pandas datetime object. The pd.to_datetime() function is used to convert a date string in the format 'YYYY-MM-DD' to a pandas datetime object. Once the date is converted, various attributes and methods are used to access and print specific components of the datetime object, such as the year, month, day, hour, minute, and second.

In [9]:
import pandas as pd
duration = pd.to_timedelta(5,'D')
print(duration)

5 days 00:00:00

This code snippet showcases the creation of a pandas Timedelta object to represent a duration of 5 days. The pd.to_timedelta() function is used to convert a numerical value and a time unit ('D' for days in this case) into a Timedelta object. Timedelta objects are useful for representing and manipulating time durations or differences.

In [10]:
import pandas as pd
duration1 = pd.to_timedelta(5,'D')
duration2 = pd.to_timedelta(3,'D')
duration_sum = duration1+duration2
duration_diff = duration1-duration2
print(duration_sum)
print(duration_diff)

8 days 00:00:00
2 days 00:00:00

This code snippet showcases the addition and subtraction of pandas Timedelta objects. Timedelta objects are created using the pd.to_timedelta() function to represent different durations. The code performs addition and subtraction operations on these Timedelta objects, resulting in new Timedelta objects.

In [11]:
import pandas as pd
period = pd.Period('2023-01-01','M')
print(period)

2023-01

This code snippet showcases the creation of a pandas Period object to represent a specific period. The pd.Period() function is used to create the Period object by providing the date and the desired frequency.

In [12]:
import pandas as pd
period = pd.Period('2023-01-01','M')
next_period = period +1
previous_period = period-1
print(next_period)
print(previous_period)

2023-02
2022-12

This code snippet showcases the addition and subtraction operations on a pandas Period object. A Period object is created using the pd.Period() function to represent a specific period, in this case, the month of January 2023. The code then performs addition and subtraction operations by adding and subtracting integers from the Period object.

In [14]:
import pandas as pd
date = pd.to_datetime('2023-01-01')
next_day = date + pd.DateOffset(days=1)
previous_day = date-pd.DateOffset(days=1)
next_week = date + pd.DateOffset(weeks=1)
previous_week = date - pd.DateOffset(weeks=1)
print(next_day)
print(previous_day)
print(next_week)
print(previous_week)

2023-01-02 00:00:00
2022-12-31 00:00:00
2023-01-08 00:00:00
2022-12-25 00:00:00

This code snippet showcases the addition and subtraction operations on a pandas datetime object using the pd.DateOffset() function. A datetime object is created using the pd.to_datetime() function to represent a specific date, in this case, '2023-01-01'. The code then performs addition and subtraction operations by adding or subtracting specific time intervals using the pd.DateOffset() function.

In [18]:
import pandas as pd
dates = pd.date_range(start ='2023-01-01',periods=10)
data = {'Date':dates,'Value':[10,15,8,12,20,6,9,14,17,11]}
df =pd.DataFrame(data)
rolling_sum = df['Value'].rolling(window=3).sum()
rolling_mean = df['Value'].rolling(window=3).mean()
print(rolling_mean)

0          NaN
1          NaN
2    11.000000
3    11.666667
4    13.333333
5    12.666667
6    11.666667
7     9.666667
8    13.333333
9    14.000000
Name: Value, dtype: float64

This code snippet showcases the calculation of rolling sum and rolling mean values using the rolling() function in pandas. A DataFrame is created with a 'Date' column representing a sequence of dates generated using the pd.date_range() function, and a corresponding 'Value' column.

The code then uses the rolling() function on the 'Value' column with a window size of 3 to calculate the rolling sum and rolling mean. The rolling sum represents the sum of the previous 3 values in the 'Value' column at each point, while the rolling mean represents the average of the previous 3 values.

In [21]:
import pandas as pd
date1 = pd.to_datetime('2023-01-01')
date2 = pd.to_datetime('2023-02-01')
time_difference = date1-date2
print(type(time_difference))
date_after_7_days = date1+pd.DateOffset(7,'D')
print(date_after_7_days)

<class 'pandas._libs.tslibs.timedeltas.Timedelta'>
2023-01-08 00:00:00

This code snippet showcases the calculation of time difference and date offset in pandas. Two pandas datetime objects, date1 and date2, are created using the pd.to_datetime() function to represent specific dates. The code then performs operations to calculate the time difference and add a date offset

In [36]:
import pandas as pd
import numpy as np
dates = pd.date_range(start="2023-01-01",end="2023-12-31",freq='D')
df = pd.DataFrame({'Value':np.random.randn(len(dates))},index=dates)
selected_date = df.loc['2023-01-01']
date_range = df.loc['2023-01-01':'2023-01-15']
specific_month = df[df.index.month==2]
print(selected_date)
print(date_range.head())
print(specific_month.head())

Value    0.438608
Name: 2023-01-01 00:00:00, dtype: float64
               Value
2023-01-01  0.438608
2023-01-02  0.116479
2023-01-03 -0.392271
2023-01-04  0.089535
2023-01-05 -0.029712
               Value
2023-02-01  0.663964
2023-02-02  0.151174
2023-02-03  0.971529
2023-02-04  0.169818
2023-02-05  1.612613

This code snippet showcases various operations on a pandas DataFrame containing random values indexed by dates. It demonstrates selecting specific dates, a date range, and a specific month from the DataFrame using indexing and filtering operations.